<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/dist/allstyles.css" />
    <title>Index</title>
</head>
<body class="container">

<h1>This is An Entry Page for The Ages</h1>

<br/><br /><br />

<div id="basicReactComponent"></div>

<br/><br /><br />

<div id="reactComponentWithData"></div>

<script src="~/dist/bundle.js"></script>

</body>
</html>